<section class="hero container">
    <div class="hero-left">
        <h1>Самая вкусная пицца в мире<br><span>только в Pizza Cheff</span></h1>

        <div class="benefits">
            <article class="benefit-with-icon">
                <img src="assets/advantages/advantage-logo-1.png" alt="Лучшее тесто" width="40" height="40">
                <div>
                    <h3>ЛУЧШЕЕ ТЕСТО</h3>
                    <p>Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
                </div>
            </article>
            <article class="benefit-with-icon">
                <img src="assets/advantages/advantage-logo-2.png" alt="Лучшие повара" width="40" height="40">
                <div>
                    <h3>ЛУЧШИЕ ПОВАРА</h3>
                    <p>Пиццы готовят самые профессиональные итальянские повара</p>
                </div>
            </article>
            <article class="benefit-with-icon">
                <img src="assets/advantages/advantage-logo-3.png" alt="Гарантия качества" width="40" height="40">
                <div>
                    <h3>ГАРАНТИЯ КАЧЕСТВА</h3>
                    <p>Наша пиццерия получила множество наград и признаний по всему миру</p>
                </div>
            </article>
            <article class="benefit-with-icon">
                <img src="assets/advantages/advantage-logo-4.png" alt="Отборные рецепты" width="40" height="40">
                <div>
                    <h3>ОТБОРНЫЕ РЕЦЕПТЫ</h3>
                    <p>Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
                </div>
            </article>
        </div>

        <a class="btn-primary" href="#catalog">Выбрать пиццу</a>
    </div>

    <div class="hero-right">
        <span class="hero-image-wrap">
            <img ngSrc="assets/hero/hero-pizza.png" fill alt="Большая пицца">
        </span>
    </div>
</section>